{% extends 'base.html.twig' %}

{% block title %}Casting-Page{% endblock %}

{% block body %}


    <div class="container">
        <span>Félicitation votre demande de postulation a bien été prise en compte</span>
    </div>





{% endblock %}