{% extends 'base.html.twig' %}

{% block title %}Casting{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h2>Casting</h2>
        <div class="row border border-dark rounded">
            <div class="filtre">

            </div>
            {% for offre in offreDeCasting %}
                <div class="card row-col-md-3 cardMargin" style="width: 18rem;">
                    <img src="/images/casting.jpg" class="card-img-top" alt="" width="30%">
                    <div class="card-body">
                        <h5 class="card-title">{{ offre.intituleOffre }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn">Postuler</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>




{% endblock %}
