{% extends 'base.html.twig' %}

{% block title %}Casting-Page{% endblock %}

{% block body %}

    <div>
        <h3>{{ casting.intituleOffre }}</h3>
        <div class="block-casting row">
            <div class=" col-md-2" style="width: 50rem;">
                <img src="/images/casting.jpg" class="card-img-top" alt="" width="">
            </div>
            <div class="col-md-4 decsription-Casting">
                <h4>Description de la missions : </h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ea eius exercitationem impedit ipsum, obcaecati ratione sint tenetur velit? Animi consequuntur dolor error et eum ipsa laudantium odio officiis quaerat tempore. Blanditiis cumque cupiditate dolores ducimus excepturi harum id, illum ipsa labore magnam maiores nobis quod repudiandae totam ut voluptas voluptatem? Aliquid asperiores, dolor doloribus excepturi laborum molestiae quo recusandae voluptas. A accusamus adipisci aliquid aperiam architecto consequatur culpa deleniti doloremque dolorum ducimus earum est ex fugiat fugit in, iusto minus nostrum, odio praesentium quibusdam quidem quos ratione recusandae saepe similique sint, soluta suscipit tempora tenetur unde vero voluptas voluptates!</span>
            </div>
            <a class="btn" href="/application/new/{{ casting.identifiant }}">Postuler</a>
        </div>
    </div>


{% endblock %}
