{# FOOTER /////////////#}

<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <div class="nbCasting text-black">
            <span>| Nombre de casting actif : {{ OffreDeCastingCount }} ||</span>
            {% if OffreDeCasting|length > 0 %}
            <span>Date dernier casting publiée : {{ OffreDeCasting | last.dateDebut | date("d M Y") }} |</span>
            {% endif %}
            <br>
        </div>
        <div class="date"></div>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="localhost:8000">MegaCasting.fr</a>
    </div>
    <!-- Copyright -->
</footer>
